@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.ForPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.Form-body {
  resize: none;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 10px;
  max-width: 60vh;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.psswd-heading {
  background-color: rgb(30, 28, 54);
  border-radius: 10px 10px 0px 0px;
}
.psswd-heading-h2{
  text-align: center;
  padding: 12px;
  font-size: 1.7rem;
  font-family: sans-serif;
  color: white;
}
.psswdform{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.psswdField{
  border-radius: 17px;
}
.inputGroup2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 10px 22px;
}
.row {
  display: flex;
  flex-direction: row;
}
.container {
  height: 40px;
  position: relative;
}
.back-button {
  margin-left: 5.5%;
  border-radius: 17px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(30, 28, 54);
  color: white;
  font-weight: bold;
  transition: all 0.4s;
}
.back-button:hover {
  background-color: rgb(39, 35, 75);
}
.psswd-button {
  margin-left: 10%;
  border-radius: 17px;
  padding: 10px 22px;
  border: none;
  background-color: rgb(30, 28, 54);
  color: white;
  font-weight: bold;
  transition: all 0.4s;
}
.psswd-button:hover {
  background-color: rgb(39, 35, 75);
}

.reset-button {
  margin-left: 2.65rem;
  border-radius: 17px;
  padding: 0.5rem 5rem;
  margin-top: 1rem;
  border: none;
  background-color: rgb(30, 28, 54);
  color: white;
  font-weight: bold;
  transition: all 0.4s;
}
.reset-button:hover {
  background-color: rgb(39, 35, 75);
}
.cont-reset{
  margin-left: 25px
}
.formerrors {
  color: red;
  margin-bottom: 10px;
  margin-left: 32px;
  margin-top: 5px;
  margin-right: 19px;
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  font-family: "poppins", sans-serif;
}
.formErrors1 {
  color: red;
  margin-bottom: 10px;
  margin-left: 31px;
  margin-right: 19px;
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  font-family: "poppins", sans-serif;
}
.Error {
  margin-top: 5px;
  color: red;
  margin-bottom: 10px;
  margin-left: 33px;
  text-align: left;
  font-weight: normal;
  font-size: "12px";
}
.inputWithButton {
  position: relative;
  width: 300px;
}

.inputWithButton button {
  position: absolute;
  right: 7px;
  top: 4px;
}
.forgotPasswordField{
  border-radius: 17px !important;
}
.forbidden{
  color: red;
  margin-right: 7%;
  margin-left: 9%;
}

@media screen and (max-width: 360px) {
  .Form-body {
    width: 90%;
  }
  .Form-Body {
    width: 50vh;
  }
  .psswd-button {
    width: 65px;
    /* margin-left: 18px; */
    padding: 10px 2px;
   
  }
  .back-button{
    width: 65px;
    padding: 10px 2px;
  }
}
@media screen and (min-width: 370px) {
  @media screen and (max-width: 420px) {
    .containers{
      width:90%;
      margin-left:20px;
      height:100%;
    }
    .form-select{
      width:90%;
    }
    .notification_button{
      margin-left: 180px;
    }
  }
}
@media screen and (min-width: 420px) {
  @media screen and (max-width: 500px) {
    .Form-body {
      width: 90%;
    }
    .Form-Body {
      width: 50vh;
    }
    .psswd-button {
      width: 65px;
      /* margin-left: 18px; */
      padding: 10px 2px;
     
    }
    .back-button{
      width: 65px;
      padding: 10px 2px;
    }
  }
}
@media screen and (min-width: 500px) {
  @media screen and (max-width: 600px) {
    .Form-body {
      width: 90%;
    }
    .Form-Body {
      width: 50vh;
    }
    .psswd-button {
      width: 65px;
      /* margin-left: 18px; */
      padding: 10px 2px;
     
    }
    .back-button{
      width: 65px;
      padding: 10px 2px;
    }
  }
}

@media screen and (min-width: 600px) {
  @media screen and (max-width: 800px) {
    .Form-body {
      width: 90%;
    }
    .Form-Body {
      width: 50vh;
    }
    .psswd-button {
      width: 80px;
      /* margin-left: 18px; */
      padding: 10px 2px;
     
    }
    .back-button{
      width: 80px;
      padding: 10px 2px;
      margin-left: 60px;
    }
  }
}
@media screen and (min-width: 800px) {
  @media screen and (max-width: 1200px) {
    .Form-body {
      width: 90%;
    }
    .Form-Body {
      width: 50vh;
    }
    .psswd-button {
      width: 65px;
      /* margin-left: 18px; */
      padding: 10px 2px;
     
    }
    .back-button{
      width: 65px;
      padding: 10px 2px;
    }
  }
}
