
.column{
    border-radius: 10px;
    margin: 5% 15%;
    padding-bottom: 35px;
    box-shadow: black 0px 5px 15px;
}
.error-h1{ 
    font-family: 'Poppins',sans-serif;
    margin-bottom: 3%;
}
.error-h2{
    font-size: 23px;
    margin-bottom: 4%;
}
.error-h5{
    font-family: 'Poppins',sans-serif;
    font-size: medium;
}
.img1{
    max-width: 40%; 
}

.div1{
    margin: 2% 0%;   
}